@import "tailwindcss";

@theme {
  --font-plus-jakarta: "Plus Jakarta Sans", sans-serif;
  --font-vietnam-pro: "Be Vietnam Pro", sans-serif;

  --color-background: #fff4ef;
  --color-label-tag: #f9d461;
  --color-brown-text: #492604;
  --color-primary: #492604;
  --color-secondary: #7e522c;
  --color-main: #974300;
  --color-lightyellow: #ffede3;
  --color-outline: #d9a175;
  --color-radio-container: #ffffff;
  --color-friendly: #526700ff;
  --color-selective: #005ab2;
  --color-nervous: #b02500;
}


@layer base {
  html {
    @apply font-vietnam-pro;
  }
}