@import "tailwindcss";

@theme {
  --font-plus-jakarta: "Plus Jakarta Sans", sans-serif;
  --font-vietnam-pro: "Be Vietnam Pro", sans-serif;

  --color-background: #fff4ef;
  --color-brown-text: #492604;
  --color-primary: #492604;
  --color-secondary: #7e522c;
  --color-main: #974300;
  --color-lightyellow: #ffede3;
  --color-outline: #d9a175;
}


@layer base {
  html {
    @apply font-vietnam-pro;
  }
}